@font-face {  
font-family: 'SF Pro Display';
src: url('SF-Pro-Display-Regular.otf');  
font-weight: normal;  
font-style: normal;  
}
@font-face {  
font-family: 'SFProDisplay-Medium';
src: url('SF-Pro-Display-Medium.otf');  
font-weight: normal;  
font-style: normal;  
}

@font-face {  
    font-family: 'NunitoSans';
    src: url('NunitoSans-SemiBold.ttf');  
    font-weight: normal;  
    font-style: normal;  
}